<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1024, initial-scale=1.0">
  <title>Template</title>
  <link type="text/css" href="sp-bootstrap.scss" />
</head>
<body>
<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">Input</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="sourceTextBox" ng-hide="c.data.isMultiLine">Source Text</label>
        <input type="text" class="form-control" id="sourceTextBox" ng-model="c.data.singleLineText" ng-hide="c.data.isMultiLine" ng-change="c.onSingleLineTextChanged()" />
        <label for="sourceTextArea" ng-show="c.data.isMultiLine">Source Text</label>
        <textarea id="sourceTextArea" ng-model="c.data.multiLineText" ng-show="c.data.isMultiLine" ng-change="c.onMultiLineTextChanged()"></textarea>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Content Information</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group">
            <span class="input-group-addon"><span class="text-primary">Char Count</span></span>
            <input type="text" class="form-control" readonly="true" ng-model="c.data.charCount" />
          </div>
        </div>
        <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon"><span class="text-primary">CRC-64</span></span>
            <input type="text" class="form-control" readonly="true" ng-model="c.data.crc" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <span class="input-group-addon"><span class="text-primary">Word Count</span></span>
            <input type="text" class="form-control" readonly="true" ng-model="c.data.wordCount" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Options</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <span class="label label-primary">Non-Alpha-Numeric Characters</span>
          <div class="form-group">
            <label class="radio-inline"><input type="radio" name="punctuationOptions" value="none" ng-model="c.data.nonAlphaNumOption" ng-change="c.onTextOptionChanged()" /> None (as-is)</label>
            <label class="radio-inline"><input type="radio" name="punctuationOptions" value="whitespace" ng-model="c.data.nonAlphaNumOption" ng-change="c.onTextOptionChanged()" /> Treat as Whitespace</label>
            <label class="radio-inline"><input type="radio" name="punctuationOptions" value="ignore" ng-model="c.data.nonAlphaNumOption" ng-change="c.onTextOptionChanged()" /> Ignore</label>
          </div>
        </div>
        <div class="col-md-6">
          <label class="label label-primary">White-space Characters</label>
          <div class="form-group">
            <label class="radio-inline"><input type="radio" name="whitespaceOptions" value="none" ng-model="c.data.whiteSpaceOption" ng-change="c.onTextOptionChanged()" /> None (as-is)</label>
            <label class="radio-inline"><input type="radio" name="whitespaceOptions" value="trim" ng-model="c.data.whiteSpaceOption" ng-change="c.onTextOptionChanged()" /> Trim</label>
            <label class="radio-inline"><input type="radio" name="whitespaceOptions" value="normalize" ng-model="c.data.whiteSpaceOption" ng-change="c.onTextOptionChanged()" /> Normalize</label>
            <label class="radio-inline"><input type="radio" name="whitespaceOptions" value="ignore" ng-model="c.data.whiteSpaceOption" ng-change="c.onTextOptionChanged()" /> Ignore</label>
          </div>
        </div>
      </div>
      <label class="label label-primary">Other</label>
      <div class="form-group">
        <label class="checkbox-inline"><input type="checkbox" ng-model="c.data.ignoreCase" ng-change="c.onTextOptionChanged()" /> Ignore Case</label>
        <label class="checkbox-inline"><input type="checkbox" ng-model="c.data.isMultiLine" ng-change="c.onIsMultiLineChanged()" /> Multi-line</label>
        <label ng-show="c.data.isMultiLine" class="checkbox-inline"><input type="checkbox" ng-model="c.data.ignoreBlankLines" ng-change="c.onIgnoreBlankChanged()" /> Ignore Blank Lines</label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
